*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	
}
body{
	background-image:url("R.jpg");/*pexels-element-digital-1470162.jpg*/
	background-size: cover;
}

header{
    width: 100vw;
    height: 20%;
    border-bottom: solid 1px rgba(16, 16, 16, 0.1);
    font-family: 'Poppins';
	
	
}

header .inner{
    width: 1300px; /* This is the inner width of the content inside of your header (80%, etc) */
    height: 100%;
    display: block;
    margin: 0 auto;
}

header .logo{
    display: table;
    height: 100%;
    float: left;
}


header .logo div{
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

header .logo img{
    height: 70px;
    margin-top: 5px; /* Optical alignment of the logo */
}

header nav{
    float: right;
    height: 100%;
	
}

header nav li{
    display: table;
    height: 100%;
    float: left;
    margin-right: 30px;
	
}


header nav li:last-of-type{
    margin-right: 0;
}

header nav span {
    display: table-cell;
    vertical-align: middle;
}

header nav a{
    color: #101010;
	font-size:20px;
}

header nav .button{
    background-color: #1ab26b; /* This HEX is the color of the button */
    color: #FFF;
    padding: 10px 20px;
    border-radius: 4px;
}

header nav .button:hover{
    filter: brightness(1.05);
}
header nav .lg{
    background-color: #1b55c8; /* This HEX is the color of the button */
    color: #FFF;
    padding: 5px 10px;
    border-radius: 4px;
}
header nav .lg:hover{
    filter: brightness(1.05);
}

#content{
    border-top:1px solid rgba(239, 239, 239, 0.289);
    border-bottom:1px solid rgba(239, 239, 239, 0.195);
	height:65%;
	width:100%;
    
}
#content li 
{
   list-style: none;
   padding-left:7px;
   padding-top:5px;
   font-weight: 400;
   font-family: 'Roboto', sans-serif;
   font-size: medium;
}
#content li a
{
    color :rgb(255, 255, 255);
}
#content .locations ul 
{
    position:absolute;
    display: flex;
    flex-direction: row;
}
#content .table table 
{
    display:block;
    border:2px solid white;
    margin:25px;
    height: 450px;
    overflow-y: scroll;
}
th
{
    border:1px solid black;
    border-collapse:collapse;
    margin:5px;
    background-color: rgb(9, 9, 9);
    width:200px;
    color: #FFF;
    align-items: center;
}
td
{
    border:1px solid black;
    border-collapse:collapse;
    margin:5px;
    background-color: white;
    width:200px;
    text-align: center;
    max-width: 100px;
    word-wrap:break-word;
}
td a
{
    background-color: red;
    padding-left: 4px;
    margin:3px;
}
td a:hover
{
    background-color: rgba(5, 28, 240, 0.985);
    padding-left: 4px;
    margin:3px;
    font-size: 130%;
}
#footer 
{
    position:fixed;
   
    left:1%;
    bottom:3%;
    /*border-top: 1px solid rgba(16, 16, 16, 0.1);*/
    width:99%;
    
}
#footer h4
{
    position:static;
    padding-top: 8px;
    color:rgb(220, 220, 220);
}
#footer li
{
    list-style: none;
    color:rgb(234, 228, 228);
}